{% extends 'base.html' %}
{% block mainmenu %}
    <div class="content">
      <div class="container">
        <div class="form_box">
          <form action="" class="form">
            <div class="input_data">
              <div class="final_text">
                <p>
                  Регистрация успешно завершена. Письмо будет отправлено вам на
                  почту.
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock mainmenu %}
